body {
    font-family: -apple-system, BlinkMacSystemFont, "Source Sans Pro",
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

.image-slide {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

.carousel-title {
    font-size: clamp(0.9rem, 0.4rem, 1.1rem);
}

.navbar-overflow {
    padding-top: 0.2rem !important;
    padding-bottom: 0.4rem !important;
    max-width: 100% !important;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
}

.nav-link {
    white-space: nowrap;
}

@media screen and (max-width: 776px) {
    .navbar-overflow {
        overflow-x: auto !important;
        overflow-y: auto !important;
    }
}
